@page "/users"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager UriHelper

@if (usr == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                @* <th>Address</th> *@
                <th>Phone</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in usr)
            {
                <tr>
                    <td>@u.id</td>          
                    <td>@u.name</td>          
                    <td>@u.username</td>          
                    <td>@u.email</td>          
                    @* <td>@u.address</td>           *@
                    <td>@u.phone</td>          
                    <td>@u.website</td>          
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Users[]? usr;

    protected override async Task OnInitializedAsync()
    {
        usr = await Http.GetFromJsonAsync<Users[]>("https://jsonplaceholder.typicode.com/users");
    }

    public class Users
    {
        public int id { get; set; }

        public string name { get; set; }

        public string username { get; set; }

        public string email { get; set; }

        @* public string address { get; set; } *@

        public string phone { get; set; }

        public string website { get; set; }
    }
}